.header {
  block-size: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 35vh min-content 1fr;
  
}

.gradient-container {
  background-image: var(--header-dackground-image);
  grid-column: 1/4;
  grid-row: 1/4;
  inline-size: 100%;
  block-size: 100%;
  z-index: -5;
  position: relative;
}

/* .header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  padding-top: 35px;
}

.header__theme-menu-list {
  display: flex;
  gap: clamp(1.0625rem, 0.2319rem + 3.5439vw, 2.5rem);
}

.header__theme-menu-item {
  font-family: var(--subtitle-font-family);
  font-size: clamp(7px, calc(4.111px + 0.77vw), 12px);
}

.header__theme-menu-button {
  padding: 9px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10%;
  background-color: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  background-color: var(--darck--accent-color);
} */

.text-conteiner-header {
  grid-column: 1/4;
  grid-row: 2;
  padding-left: clamp(15px, calc(-21.402px + 9.707vw), 78px);
  padding-right: 15px;
}

.subtitle-container {
  grid-column: 1/3;
  grid-row: 3;
  padding-top: 60px;
  padding-left: clamp(15px, calc(-21.402px + 9.707vw), 78px);
  display: flex;
  gap: clamp(15px, calc(6.333px + 2.311vw), 30px);
}

.header_subtitle {
  font-size: clamp(20px, calc(3.821px + 4.314vw), 48px);
  font-family: "Neonderthaw";
  color: var(--subtitle-color);
}

/* ---ТАРЕЛКА--------------------------------------------------------------------- */

.frisbee-flip {
  inline-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  block-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  margin-top: clamp(0px, calc(-5.778px + 1.541vw), 10px);
  transform-style: preserve-3d;
  border-radius: 50%;
  cursor: pointer;
  animation: shake-element 0.5s ease-in-out 2 0.5s forwards;
}



.frisbee-flip-animation {
  animation: fly 1.8s ease-in-out 0s alternate;
}

.frisbee-flip img {
  inline-size: 100%;
}

.frisbee-heads,
.frisbee-tails {
  backface-visibility: hidden;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
}

.frisbee-heads {
  inline-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  block-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  background-image: var(--header-frisbee-image);
  background-color: var(--backround-color-body);
  background-position: center;
  background-size: cover;
}

.frisbee-tails {
  inline-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  block-size: clamp(30px, calc(18.444px + 3.082vw), 50px);
  background-image: var(--header-frisbee-image-flip);
  background-color: var(--backround-color-body);
  background-position: center;
  background-size: cover;
}

.heads-animation {
  animation: flip-head 0.7s linear 0.2s 2 alternate;
}

.tails-animation {
  animation: flip-tail 0.7s linear 0.2s 2 alternate;
}

.frisbee-no-rotate {
    transform: rotatex(0deg);
}

.frisbee-rotate {
    transform: rotatex(-180deg);
}

.header_image {
  position: absolute;
  top: 0;
  right: 0;
  block-size: 100vh;
  z-index: -1;
  filter: grayscale(1) brightness(103%) contrast(350%);
  overflow-x: hidden;
  
}

.header_image-light {
  position: absolute;
  top: 0;
  right: 0;
  block-size: 100vh;
  z-index: -1;
  overflow-x: hidden;
  display: none;
  filter: grayscale(1);
}



/* @media (width <= 700px) {
  .header__theme-menu {
    grid-column: 3;
    justify-self: end;
    padding-top: 75px;
    padding-right: 10px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
} */
