
.main_history {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 0 clamp(7px, calc(1.8px + 1.387vw), 16px);
}

.history-title {
  font-family: var(--subtitle-font-family);
  font-size: clamp(35px, calc(27.488px + 2.003vw), 48px);
  font-weight: 300;
  align-self: flex-end;
  color: var(--darck--accent-color)
}

.history-cards {
  /* block-size: clamp(250px, calc(47.766px + 53.929vw), 600px); */
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  grid-auto-rows: auto;
  /* row-gap: 260px; */
}

.history-middle {
  grid-column: 2;
  /* grid-row: 1 / -1; */
  position: relative;
    background-image: linear-gradient( var(--accent-color) 0 50%, var(--darck--accent-color));
    width: 3px;
    height: 100%;
}

.circle {
  position: absolute;
    top: 0;
    left: 50%;
    inline-size: clamp(7px, calc(2.378px + 1.233vw), 15px);
    block-size: clamp(7px, calc(2.378px + 1.233vw), 15px);
    border-radius: 50%;
    background-image: linear-gradient(var(--accent-color) 0 15%, var(--darck--accent-color) 60% 100%);
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}


.history-card {
  margin: 0 clamp(15px, calc(-5.223px + 5.393vw), 50px) 0 clamp(15px, calc(-5.223px + 5.393vw), 50px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  /* block-size: clamp(205px, calc(11.433px + 51.618vw), 540px); */
  /* min-inline-size: clamp(335px, calc(-40.578px + 100.154vw), 985px); */
  padding: clamp(7px, calc(5.267px + 0.462vw), 10px) clamp(15px, calc(6.333px + 2.311vw), 30px);
  gap: 3px;
  box-shadow: 10px 10px 15px var(--block-color);
}

/* .history-card:nth-child(odd) {
  grid-column: 1;
}

.history-card:nth-child(even) {
  grid-column: 3;
} */

.history-card-title {
 padding-left:clamp(7px, calc(5.267px + 0.462vw), 10px);
 font-size: clamp(15px, calc(5.177px + 2.619vw), 32px);
 font-family: var(--subtitle-font-family);
 color: var(--darck--accent-color);
}

.history-card-text {
  font-size: clamp(10px, calc(4.222px + 1.541vw), 20px);
 font-family: var(--text-font-family);
 color: var(--text-color);
 line-height: 130%;
}



/* -- JOIN---------------------------------------------------------------------------------------------------------------------- */

.main_join {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: 100%;
  /* block-size: clamp(350px, calc(130.431px + 58.552vw), 730px); */
  gap: clamp(35px, calc(26.333px + 2.311vw), 50px);
  /* background-image: url(../images/image_join.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 25%;
  filter: blur(3px); */
}

.join_title{
font-family: var(--title-font-family);
font-size: clamp(15px, calc(6.333px + 2.311vw), 30px);
color: var(--text-color);
}

.join_link {
inline-size: clamp(200px, calc(84.438px + 30.817vw), 400px);
  align-self: center;
  background-image: linear-gradient(
    0.25turn,
    var(--accent-color) 0 19%,
    var(--darck--accent-color) 50% 100%
  );
  border-radius: 10px;
  font-size: clamp(10px, calc(5.955px + 1.079vw), 17px);
  font-family: var(--subtitle-font-family);
  text-align: center;
  color: var(--backround-color-body);
  padding: 10px 15px;
  text-decoration: none;
}