
.main_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(35px, calc(3.22px + 8.475vw), 90px);
  background-image: var(--cards-bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 clamp(460px, calc(205.763px + 67.797vw), 900px);
}

.team_photo {
  background-image: var(--section-team-bg-image);
  inline-size: clamp(361px, calc(1.023px + 95.994vw), 984px);
  block-size: clamp(225px, calc(31.433px + 51.618vw), 560px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: hue;
}

.team_title-container {
  inline-size: clamp(360px, calc(45.092px + 83.975vw), 905px);
  background-clip: text;
  -webkit-background-clip: text;
}

.team_title {
  font-family: var(--title-font-family);
  font-size: clamp(35px, calc(0.331px + 9.245vw), 95px);
  text-align: center;
  text-shadow: -1px 0 rgb(255 255 255 / 60%);
  color: transparent;
}

@supports (
  (-webkit-text-stroke: 1px rgb(255 255 255 / 60%)) or
    (text-stroke: 1px rgb(255 255 255 / 60%))
) {
  .team_title {
    -webkit-text-stroke: 1px rgb(255 255 255 / 60%);
    text-stroke: 1px rgb(255 255 255 / 60%);
    text-shadow: none;
  }
}

/* --КАРТОЧКИ ИГРОКОВ-------------------------------------------------------------------- */

.cards {
  display: flex;
  inline-size: 100%;
  block-size: clamp(240px, calc(164.884px + 20.031vw), 370px);
  align-items: center;
  padding: 30px clamp(15px, calc(0.555px + 3.852vw), 40px);
  
}


.players-up {
  display: flex;
  align-items: center;
}

.players-up::-webkit-scrollbar {
  display: none;
}


.card {
  inline-size: clamp(163px, calc(97.707px + 17.411vw), 276px);
  block-size: clamp(187px, calc(115.929px + 18.952vw), 310px);
  transition: all 1.5s ease-in-out;
  perspective: 1000px;
  cursor: pointer;
 flex-shrink: 0;
}



.card-inner {
  inline-size: 100%;
  block-size: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.card-inner-start {
  transform: rotateY(0deg);
}

.card-inner-final {
  transform: rotateY(180deg);
}


.card_front,
.card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  /* box-shadow: 0 0 27px var(--accent-color); */
}

.card_front {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: end;
  padding: 10px 12px;
}

.card_back {
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-family: var(--title-font-family);
  color: var(--backround-color-body);
  background-image: linear-gradient(0.60turn,
    var(--accent-color) 0 29%,
    var(--darck--accent-color) 70% 100%
  );
  transform: rotateY(-180deg);
}



/* .card-name {
  background-image: linear-gradient(
    0.25turn,
    var(--accent-color) 0 19%,
    var(--darck--accent-color) 50% 100%
  );
  font-family: var(--title-font-family);
  font-size: clamp(10px, calc(7.111px + 0.77vw), 15px);
  color: var(--backround-color-body);
  border-radius: 15px;
  padding: 0 clamp(7px, calc(-6.29px + 3.544vw), 30px);
  line-height: 260%;
  text-align: center;
}

.card_back-text {
  font-size: clamp(12px, calc(5.066px + 1.849vw), 24px);
} */

.card_back-number {
  line-height: 100%;
  padding-right: 15px;
  font-size: clamp(45px, calc(15.532px + 7.858vw), 96px);
}

/* ---POPAP------------------------------------------------------------------------------------------------------------------------- */


#dialog_player {
  /* display: none; */
  padding: 10px;
  inline-size: clamp(360px, calc(21.98px + 90.139vw), 945px);
  block-size: clamp(355px, calc(135.431px + 58.552vw), 735px);
  border: none;
  margin: auto auto;
 border-radius: 2%;
 background-image: linear-gradient(var(--backround-color-body) 0% 5%, var(--accent-color) 31% 100%) ;
}

#dialog_player[open] {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows:  min-content 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
}

@media (width <= 375px) {
  #dialog_discetta[open] {
    padding: 3px;
  }
}

.dialog_button {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  /* padding: 7px clamp(116px, 111.07px + 1.315vw, 130px); */
  inline-size: clamp(20px, calc(14.222px + 1.541vw), 30px);
  aspect-ratio: 1 / 1;
  background-image: url(../images/out-dark.svg);
  background-position: center;
  background-size: cover;
  color: transparent;
}


#dialog_player::backdrop {
  background-color: rgb(0 0 0 / 0.80);
}
