
.main_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(35px, calc(3.22px + 8.475vw), 90px);
  background-image: var(--cards-bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0 clamp(460px, calc(205.763px + 67.797vw), 900px);
}

.team_photo {
  background-image: var(--section-team-bg-image);
  inline-size: clamp(361px, calc(1.023px + 95.994vw), 984px);
  block-size: clamp(225px, calc(31.433px + 51.618vw), 560px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: hue;
}

.team_title-container {
  inline-size: clamp(360px, calc(45.092px + 83.975vw), 905px);
  background-clip: text;
  -webkit-background-clip: text;
}

.team_title {
  font-family: var(--title-font-family);
  font-size: clamp(35px, calc(0.331px + 9.245vw), 95px);
  text-align: center;
  text-shadow: -1px 0 rgb(255 255 255 / 60%);
  color: transparent;
}

@supports (
  (-webkit-text-stroke: 1px rgb(255 255 255 / 60%)) or
    (text-stroke: 1px rgb(255 255 255 / 60%))
) {
  .team_title {
    -webkit-text-stroke: 1px rgb(255 255 255 / 60%);
    text-stroke: 1px rgb(255 255 255 / 60%);
    text-shadow: none;
  }
}

/* --КАРТОЧКИ ИГРОКОВ-------------------------------------------------------------------- */

.cards {
  display: flex;
  inline-size: 100%;
  block-size: clamp(240px, calc(164.884px + 20.031vw), 370px);
  align-items: center;
  padding: 30px clamp(15px, calc(0.555px + 3.852vw), 40px);
}


.players-up {
  display: flex;
  align-items: center;
}

.players-up::-webkit-scrollbar {
  display: none;
}


.card {
  inline-size: clamp(163px, calc(98.285px + 17.257vw), 275px);
  block-size: clamp(187px, calc(115.929px + 18.952vw), 310px);
  transition: all 1.5s ease-in-out;
  perspective: 1000px;
  cursor: pointer;
 flex-shrink: 0;
}



.card-inner {
  inline-size: 100%;
  block-size: 100%;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
}

.card-inner-start {
  transform: rotateY(0deg);
}

.card-inner-final {
  transform: rotateY(180deg);
}


.card_front,
.card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  /* box-shadow: 0 0 27px var(--accent-color); */
}

.card_front {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: end;
  padding: 10px 12px;
}

.card_back {
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-family: var(--title-font-family);
  color: var(--backround-color-body);
  background-image: linear-gradient(0.60turn,
    var(--accent-color) 0 29%,
    var(--darck--accent-color) 70% 100%
  );
  transform: rotateY(-180deg);
}



/* .card-name {
  background-image: linear-gradient(
    0.25turn,
    var(--accent-color) 0 19%,
    var(--darck--accent-color) 50% 100%
  );
  font-family: var(--title-font-family);
  font-size: clamp(10px, calc(7.111px + 0.77vw), 15px);
  color: var(--backround-color-body);
  border-radius: 15px;
  padding: 0 clamp(7px, calc(-6.29px + 3.544vw), 30px);
  line-height: 260%;
  text-align: center;
}

.card_back-text {
  font-size: clamp(12px, calc(5.066px + 1.849vw), 24px);
} */

.card_back-number {
  line-height: 100%;
  padding-right: 15px;
  font-size: clamp(45px, calc(15.532px + 7.858vw), 96px);
}

/* ---POPUP------------------------------------------------------------------------------------------------------------------------- */


#dialog_player {
  /* display: none; */
  padding: clamp(10px, calc(5.955px + 1.079vw), 17px);
  inline-size: clamp(302px, calc(95.143px + 55.162vw), 660px);
  block-size: clamp(400px, calc(168.875px + 61.633vw), 800px);
  border: none;
  margin: auto auto;
 border-radius: 5%;
 background-image: radial-gradient(at 65% 40%,
    rgba(255, 255, 255, 0.753) 0% 10%,
    var(--block-frisbee) 68% 100%),
    url(../images/fon.jpg);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

#dialog_player[open] {
  display: grid;
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows:  min-content 1fr min-content;
  row-gap: 25px;
}

/* @media (width <= 475px) {
  #dialog_discetta[open] {
    padding: 3px;
  }
} */

.dialog_logo {
  grid-row: 1;
  grid-column: 1;
  font-family: var(--title-font-family);
  font-size: clamp(15px, calc(8.066px + 1.849vw), 27px);
  color: var(--darck--accent-color);
}

.dialog_phooto {
  background-image: url(../images/kris.png);
  block-size:clamp(350px, calc(136.21px + 57.011vw), 720px);
  inline-size: clamp(200px, calc(78.659px + 32.357vw), 410px);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;
  top: 7%;
  left: 22%;
}

.dialog_surname {
  grid-row: 2;
  grid-column: 2;
  align-self: end;
  padding-bottom: clamp(28px, calc(-2.046px + 8.012vw), 80px);
  justify-self: start;
  font-family: var(--title-font-family);
  font-size: clamp(25px, calc(10.555px + 3.852vw), 50px);
  text-shadow: -2px -2px var(--darck--accent-color);
}

.dialog_name {
  grid-row: 2;
  grid-column: 1 / 3;
  align-self: end;
  font-family: var(--title-font-family);
  font-size: clamp(30px, calc(2.843px + 7.242vw), 77px);
  padding-left: clamp(30px, calc(18.444px + 3.082vw), 50px);
  text-shadow: -2px -2px var(--darck--accent-color);
}


.dialog_number {
  font-family: var(--title-font-family);
  color: var(--block-frisbee);
  font-size: clamp(85px, calc(24.33px + 16.179vw), 190px);
  position: absolute;
  top: 23%;
  left: 53%;
  z-index: -5;
}

.dialog_description {
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: clamp(2px, calc(-2.622px + 1.233vw), 10px);
}

.question {
 font-family: var(--title-font-family);
 font-size: clamp(10px, calc(5.378px + 1.233vw), 18px);
 color: var(--text-color);
 text-shadow: 0 0 7px var(--backround-color-body);
}

.answer {
  font-family: var(--text-font-family);
  font-size: clamp(10px, calc(7.111px + 0.77vw), 15px);
  color: var(--backround-color-body);
  padding-left: 15px;
  text-shadow: 0 0 2px var(--text-color);
}

/* @supports (
  (-webkit-text-stroke: 1px var(--text-color)) or
    (text-stroke: 1px var(--text-color))
) {
  .answer {
    -webkit-text-stroke: 1px var(--text-color);
    text-stroke: 1px var(--text-color);
    text-shadow: none;
  }
} */

.dialog_button {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  inline-size: clamp(15px, calc(12.111px + 0.77vw), 20px);
  aspect-ratio: 1 / 1;
  background-image: var(--dialog-out-button);
  background-position: center;
  background-size: cover;
  background-color: transparent;
  transition: transform 0.2s;
}

.dialog_button:hover {
  transform: scale(1.3);
}


#dialog_player::backdrop {
  background-color: rgb(0 0 0 / 0.80);
}
