/*  стили для темной темы */



:root.theme-dark {
    --header-dackground-image:  linear-gradient(0.25turn,
    #000 0% 35%,
    rgba(52, 52, 50, 0.62) 65% 80%
  );
  --header-frisbee-image: url(../svg/disk.svg);
  --header-frisbee-image-flip: url(../svg/disk2.svg);
  --section-image-bg-image: url(../images/elvis-presley-dark.jpg);
  --section-team-bg-image: url(../images/team-photo-dark.png);
  --cards-upp-image: url(../images/cards-upp-dark.png);
  --cards-down-image: url(../images/cards-down-dark.png);
  --cards-bg-image: url(../images/cards-bg-dark.png);
  --backround-color-body: #000;
  --backround-image-title: linear-gradient(#f0fab9 0% 45%, #c59d3e 63% 100%);
  --accent-color: #f0fab9;
  --darck--accent-color: #cbab50;
   --darck--block-color: #cbab50;
   --for-gradien-whom-color: #343432;
  --block-color: rgb(52 52 50 / 68%);
  --text-color: #fff;
   --subtitle-color: rgb(255 255 255 / 60%);
   --block-shadow: #fff;

  .frisbee_image_masha {
    display: none;
  }
}