*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}



html,
body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  padding: 0;
  transition: background-color 0.7s;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


.page {
  background-color: var(--backround-color-body);
  inline-size: 100vw;
}

.button:hover {
  outline: 2px solid var( --accent-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 3px solid var( --accent-color);
}

.text-conteiner {
  background-image: var(--backround-image-title);
  background-clip: text;
  -webkit-background-clip: text;
}

.title {
  font-family: var(--header-footer-font-family);
  text-transform: uppercase;
  font-size: clamp(30px, calc(14.399px + 4.16vw), 57px);
  line-height: 60px;
  text-shadow: -1px 0 rgb(255 255 255 / 60%);
  color: transparent;
}

@supports (
  (-webkit-text-stroke: 0.1px rgb(255 255 255 / 60%)) or
    (text-stroke: 0.1px rgb(255 255 255 / 60%))
) {
  .title {
    -webkit-text-stroke: 0.1px rgb(255 255 255 / 60%);
    text-stroke: 0.1px rgb(255 255 255 / 60%);
    text-shadow: none;
  }
}


.main {
  display: flex;
  flex-direction: column;
  gap: 160px;
  margin: 0 auto;
}

.main_image {
  background-image: var(--section-image-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  inline-size: 100%;
  block-size: clamp(187px, calc(0.367px + 49.769vw), 510px);
}