.page {
  background-color: var(--backround-color-body);
  inline-size: 100vw;
}

.button:hover {
  outline: 1px solid var(--text-color);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 2px solid var(--text-color);
}


.text-conteiner {
  background-image: var(--backround-image-title);
}
/* ---Шапка---------------------------------------------------------------------------------------------- */
.header {
  /* background-image: var(--header-dackground-image); */
  block-size: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr min-content 1fr;
  /* padding: 0 clamp(15px, calc(-21.402px + 9.707vw), 78px); */
  position: relative;
}

.gradient-container {
  background-image: var(--header-dackground-image);
  grid-column: 1/4;
  grid-row: 1/4;
  inline-size: 100%;
  block-size: 100%;
  z-index: -5;
}

.header__theme-menu {
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  padding-top: 35px;
}

.header__theme-menu-list {
  display: flex;
  gap: clamp(1.0625rem, 0.2319rem + 3.5439vw, 2.5rem);
}

.header__theme-menu-item {
  font-family: var(--subtitle-font-family);
  font-size: clamp(7px, calc(4.111px + 0.77vw), 12px);
}

.header__theme-menu-button {
  padding: 9px;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 10%;
  background-color: transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  background-color: var(--darck--accent-color);
}

.text-conteiner-header {
  grid-column: 1/4;
  grid-row: 2;
  background-clip: text;
  -webkit-background-clip: text;
  padding-left: clamp(15px, calc(-21.402px + 9.707vw), 78px);
}

.header_title {
  font-family: var(--header-footer-font-family);
  text-transform: uppercase;
  font-size: clamp(30px, calc(14.399px + 4.16vw), 57px);
  line-height: 60px;
  text-shadow: -1px 0 rgb(255 255 255 / 60%);
  color: transparent;
}

@supports (
  (-webkit-text-stroke: 0.1px rgb(255 255 255 / 60%)) or
    (text-stroke: 0.1px rgb(255 255 255 / 60%))
) {
  .header_title {
    -webkit-text-stroke: 0.1px rgb(255 255 255 / 60%);
    text-stroke: 0.1px rgb(255 255 255 / 60%);
    text-shadow: none;
  }
}

.header_subtitle {
  grid-column: 1/3;
  grid-row: 3;
  padding-top: 60px;
  font-size: clamp(20px, calc(3.821px + 4.314vw), 48px);
  font-family: "Neonderthaw";
  color: rgb(255 255 255 / 60%);
  padding-left: clamp(15px, calc(-21.402px + 9.707vw), 78px);
}

.header_image {
  position: absolute;
  top: 0;
  right: 0;
  block-size: 100vh;
  z-index: -1;
  filter: grayscale(1) brightness(103%) contrast(350%);
  overflow-x: hidden;
}

@media (width <= 700px) {
  .header__theme-menu {
    grid-column: 3;
    justify-self: end;
    padding-top: 75px;
    padding-right: 10px;
  }

  .header__theme-menu-list {
    flex-direction: column;
  }
}

/* --MAIN------------------------------------------------------------------------------------------------------------ */

.main {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.main_image {
  background-image: var(--section-image-bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  inline-size: 100%;
  block-size: clamp(187px, calc(0.367px + 49.769vw), 510px);
}



/* -Для кого клуб-------------------------------------------------------- */

.main_for-whom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content 1fr;
  padding: 0 20px;
  row-gap: 3.91vw;
  column-gap: 1vw;
}

.section_title {
  grid-column: 1/5;
  grid-row: 1;
  justify-self: center;
  font-family: var(--subtitle-font-family);
  font-size: clamp(23px, calc(8.555px + 3.852vw), 48px);
  font-weight: 400;
}

.section_card {
  inline-size: clamp(160px, calc(8.765px + 21.605vw), 230px);
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: min-content 1fr;
  box-shadow: 0 0 52px -13px var(--text-color);
  border-radius: 28%;
}

.section_card:nth-child(2) {
  background-image: radial-gradient(
    at bottom right,
    var(--block-color) 0 25%,
    var(--darck--accent-color) 50% 70%,
    #343432 85% 100%
  );
}

.section_card:nth-child(3) {
  background-image: conic-gradient(
    from 0.55turn at center bottom,
    var(--block-color) 0 45%,
    rgb(203 171 80 / 74%) 55% 64%,
    #343432 77% 100%
  );
}

.section_card:nth-child(4) {
  background-image: linear-gradient(
    -15deg,
    var(--block-color) 0 35%,
    var(--darck--accent-color) 60% 85%,
    #343432 95% 100%
  );
}

.section_card:nth-child(5) {
  background-image: radial-gradient(
    at bottom left,
    var(--darck--accent-color) 13% 17%,
    var(--block-color) 48% 58%,
    #343432 92% 100%
  );
}

.card_title {
  font-family: var(--subtitle-font-family);
  font-size: clamp(13px, calc(-8.605px + 3.086vw), 23px);
  font-weight: 400;
  padding: clamp(14px, calc(7.644px + 1.695vw), 25px) 31px 0 15px;
  line-height: 101%;
}

.card_text {
  font-family: var(--text-font-family);
  align-self: end;
  text-align: right;
  font-size: clamp(11px, calc(2.358px + 1.235vw), 15px);
  padding: 0 20px 20px 15px;
  line-height: 150%;
}

@media (width <= 700px) {
  .main_for-whom {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr 1fr;
    justify-items: center;
    column-gap: 0;
  }

  .section_card {
    inline-size: clamp(150px, calc(46.154px + 27.692vw), 240px);
  }

  .section_title {
    grid-column: 1/3;
  }

  .section_card:nth-child(2) {
    grid-column: 1 / 2;
  }

  .section_card:nth-child(3) {
    grid-column: 2 / 3;
  }

  .section_card:nth-child(4) {
    grid-column: 1 / 2;
  }

  .section_card:nth-child(5) {
    grid-column: 2 / 3;
  }

  .card_title {
    font-size: clamp(12px, calc(-3px + 4vw), 25px);
  }

  .card_text {
    font-size: clamp(10px, calc(0.769px + 2.462vw), 18px);
  }
}

/* --ПРО ТАРЕЛКУ------------------------------------------------------------------------------------------------------------- */

.main_frisbee {
  padding: 0 clamp(7px, calc(1.8px + 1.387vw), 16px);
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.frisbee_title-container {
  border-radius: 15px;
  border: 3px solid var(--darck--accent-color);
  position: relative;
}

.frisbee_image_tasua {
  position: absolute;
  top: 40px;
  right: 0;
  block-size: clamp(295px, calc(150.547px + 38.521vw), 545px);
  /* display: none; */
}

.frisbee_image_masha {
  position: absolute;
  top: 25px;
  right: 0;
  block-size: clamp(285px, calc(134.769px + 40.062vw), 545px);
  display: none;
}

.frisbee_title {
  font-size: clamp(15px, calc(9.8px + 1.387vw), 24px);
  font-family: var(--title-font-family);
  line-height: 160%;
  padding: clamp(14px, calc(9.378px + 1.233vw), 22px) 0
    clamp(14px, calc(9.378px + 1.233vw), 22px)
    clamp(30px, calc(12.666px + 4.622vw), 60px);
}

.frisbee_description {
  display: flex;
  gap: clamp(4px, calc(-2.934px + 1.849vw), 16px);
  padding-left: clamp(0px, calc(-34.669px + 9.245vw), 60px);
  align-items: center;
}

.frisbee_icon {
  stroke: var(--text-color);
  inline-size: 85px;
  block-size: 35px;
  aspect-ratio: 1 / 1;
  height: clamp(25px, calc(19.222px + 1.541vw), 35px);
}

.frisbee_text-container {
  background-color: var(--block-color);
  border-radius: 12px;
}

.frisbee_text {
  font-size: clamp(11px, calc(9.844px + 0.308vw), 13px);
  font-family: var(--text-font-family);
  line-height: 160%;
  padding: 5px 0 10px 10px;
}

.frisbee_description:nth-child(2) {
  inline-size: clamp(200px, calc(49.769px + 40.062vw), 460px);
}

.frisbee_description:nth-child(3) {
  inline-size: clamp(282px, calc(83.81px + 52.851vw), 625px);
}

.frisbee_description:nth-child(4) {
  inline-size: clamp(335px, calc(132.766px + 53.929vw), 685px);
}

.frisbee_description:nth-child(5) {
  inline-size: clamp(355px, calc(92.096px + 70.108vw), 810px);
}

.frisbee_btn {
  inline-size: clamp(255px, calc(78.767px + 46.995vw), 560px);
  align-self: center;
  background-image: linear-gradient(
    0.25turn,
    var(--accent-color) 0 19%,
    var(--darck--accent-color) 50% 100%
  );
  border-radius: 10px;
  font-family: var(--title-font-family);
  font-size: clamp(12px, calc(5.066px + 1.849vw), 24px);
  color: var(--backround-color-body);
  line-height: 220%;
}


/* --КОМАНДА---------------------------------------------------------------------------------------------------------------------------------- */

.main_team {
display: flex;
flex-direction: column;
align-items: center;
gap: 90px;
}

.team_photo {
  background-image: var(--section-team-bg-image);
  inline-size: clamp(361px, calc(1.023px + 95.994vw), 984px);
  block-size: clamp(225px, calc(31.433px + 51.618vw), 560px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
background-size: contain;
background-blend-mode: hue;
} 

.team_title-container {
  inline-size: clamp(360px, calc(45.092px + 83.975vw), 905px);
  background-clip: text;
  -webkit-background-clip: text;
}

.team_title {
  font-family: var(--title-font-family);
  font-size: clamp(35px, calc(0.331px + 9.245vw), 95px);
  text-align: center;
  text-shadow: -1px 0 rgb(255 255 255 / 60%);
  color: transparent;
}

@supports (
  (-webkit-text-stroke: 1px var(--text-color)) or
    (text-stroke: 1px var(--text-color))
) {
  .team_title {
    -webkit-text-stroke: 1px var(--text-color);
    text-stroke: 1px rgbvar(--text-color);
    text-shadow: none;
  }
}